
body{background-color: rgb(227, 224, 221);}
header{height: 40px;
    display: flex;
    justify-content: space-between;
    }
    h1{font-size: 30px;
      display: flex;
      align-items: center;}
nav {display: flex;
    align-items: center;
    }
    nav a{text-decoration: none;
          margin: 10px;
          color: rgb(128, 0, 126);
          font-size: 20px;
    }
    nav span{font: size 30px;
        color: black;}

        
        /*landing page*/

      /******/
      .all{margin: 20px auto;
        width: 900px;
        height: 500px;
                  align-items: center;
                   display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
      gap: 20px;}
      .all div img{cursor: pointer;}
      .all div h2{cursor: pointer;}